RewriteEngine On

Redirect 301 /how-to-recover-innodb-dictionary/ https://twindb.com/?p=73
Redirect 301 /undrop-tool-for-innodb/ /undrop-for-innodb/
Redirect 301 /data-recovery-toolkit/ /undrop-for-innodb/
Redirect 301 /contact-us/ https://revdb.io/contact/

RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
